<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CaseMain</title>
</head>
<body>
{% for case in object_list %}

    <div >
        <h2><a href="">{{ case.caseNumber }} </a></h2>
        <p>{{ case.description }}</p>


    </div>
{% endfor %}
</body>
</html>